{% extends "crm/crm-base.html" %}

{% block title %}PathSix Web Designs Error Page{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crm.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <h1>429 - Too Many Requests</h1>
                <p>It looks like you’ve exceeded the maximum number of allowed requests. Please try again later.</p>
                <a href="{{ url_for('main.home') }}" class="btn btn-primary">Go Back to Home</a>
        </div>
    </div>
{% endblock %}