{% extends "crm/crm-base.html" %}

{% block title %}PathSix Web Designs Error Page{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crm.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div>
                <h1>429</h1>
                <h2>Too many requests (429)</h2>
                <p>You have exceeded the allowed number of requests. Please try again later.</p>
            </div>
        </div>
    </div>
{% endblock %}