{% extends "crm/crm-base.html" %}

{% block title %}PathSix Web Designs CRM Leads Page{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crm.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
{% endblock %}

{% block content %}
    <div class="link-create">
        <!-- Trigger Modal -->
        <button 
            type="button" 
            data-bs-toggle="modal" 
            data-bs-target="#createLeadModal" 
            id="openModalButton" 
            {% if form.errors %}style="display: none;"{% endif %}
            >
            + Add New Lead
        </button>
    </div>
    <div class="body-container">
        <aside class="report-nav">
            <nav>
                <ul>
                    <li><a href="#">Lead Overview</a></li>
                    <li><a href="#">Emails</a></li>
                    <li><a href="#">Phone Numbers</a></li>
                </ul>
            </nav>
        </aside>
        
        <div class="customer">
            <table class="cust-table">
                <tr class="thead">
                    <th colspan="5">LEADS</th>
                </tr>
                <tr class="sm-thead">
                    <th>Lead</th>
                    <th>Website</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
                {% for lead in leads.items %}
                <tr>
                    <td><a href="{{ url_for('lead.lead_report', lead_id=lead.lead_id) }}">{{ lead.name }}</a></td>
                    <td>{{ lead.website }}</td>
                    <td>{{ lead.email or 'N/A' }}</td>
                    <td>{{ lead.phone or 'N/A' }}</td>
                </tr>
                {% endfor %}
            </table>
            {% if leads.total > 25 %}
                <div class="pagination">
                    {% for page_num in leads.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                        {% if page_num %}
                            {% if leads.page == page_num %}
                                <a href="{{ url_for('leads.list', page=page_num) }}" class="active">{{ page_num }}</a>
                            {% else %}
                                <a href="{{ url_for('leads.list', page=page_num) }}">{{ page_num }}</a>
                            {% endif %}
                        {% else %}
                            <span>...</span>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <!-- Modal -->
        <div 
            class="modal fade {% if form.errors %}show{% endif %}" 
            id="createLeadModal" 
            tabindex="-1" 
            aria-labelledby="createLeadModalLabel" 
            aria-hidden="{% if form.errors %}false{% else %}true{% endif %}" 
            {% if form.errors %}style="display: block;"{% endif %} 
        >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createLeadModalLabel">Add New Lead</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="{{ url_for('lead.create_lead') }}">
                            {{ form.hidden_tag() }}
                            {% include 'crm/lead/create_leads_fields.html' %}
                            <div class="form-group">
                                {{ form.submit(class="submit-btn") }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}
