{% extends "crm/crm-base.html" %}

{% block title %}PathSix Web Designs CRM Start Page{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crm.css') }}">
{% endblock %}

{% block content %}
    <section class="options">
        <a href="{{ url_for('customer.customers') }}"><img src="{{ url_for('static', filename='images/handshake.jpg') }}" alt="Link to customers page"></a>
    </section>
    <h1>Admin:</h1>
    <section class="options">
        <a href="{{ url_for('users.users_page') }}"><img src="{{ url_for('static', filename='images/admin.jpg') }}" alt="Link to admin section."></a>
    </section>
{% endblock %}