{% extends "crm/crm-base.html" %}

{% block title %}PathSix Web Designs CRM Start Page{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crm.css') }}">
{% endblock %}

{% block content %}
    <section class="options">
        <a href="{{ url_for('project.projects') }}"><img src="{{ url_for('static', filename='images/projects.jpg') }}" alt="Link to projects page"></a>
        <a href="{{ url_for('lead.leads') }}"><img src="{{ url_for('static', filename='images/leads.jpg') }}" alt="Link to leads page"></a>
        <a href="{{ url_for('client.clients') }}"><img src="{{ url_for('static', filename='images/handshake.jpg') }}" alt="Link to clients page"></a>
    </section>
    <section class="options">
        <a href="{{ url_for('users.users_page') }}"><img src="{{ url_for('static', filename='images/admin.jpg') }}" alt="Link to admin section."></a>
    </section>
{% endblock %}