{% extends "crm/crm-base.html" %}

{% block title %}PathSix Web Designs CRM Customer Page{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crm.css') }}">
{% endblock %}

{% block content %}
    <div class="link-new"><a href="{{ url_for('create_client') }}">+Add New Client</a></div>
    <div class="body-container">
        <aside class="report-nav">
            <nav>
                <ul>
                    <li><a href="#">Customer Overview</a></li>
                    <li><a href="#">Emails</a></li>
                    <li><a href="#">Phone Numbers</a></li>
                </ul>
            </nav>
        </aside>
        
        <div class="customer">
            <table class="cust-table">
                <tr class="thead">
                    <th colspan="6">CLIENTS</th>
                </tr>
                <tr class="sm-thead">
                    <th>ID</th>
                    <th>Client Name</th>
                    <th>Website</th>
                    <th>Pricing Tier</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
                {% for client in clients %}
                <tr>
                    <td>{{ client.client_id }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.website }}</td>
                    <td>{{ client.pricing_tier }}</td>
                    <td>{{ client.email or 'N/A' }}</td>
                    <td>{{ client.phone or 'N/A' }}</td>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        
            
{% endblock %}