{% extends "crm/crm-base.html" %}

{% block title %}PathSix Web Designs CRM Customer Page{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crm.css') }}">
{% endblock %}

{% block content %}
    <div class="link-create"><a href="{{ url_for('customer.create_client') }}">+Add New Client</a></div>
    <div class="body-container">
        <aside class="report-nav">
            <nav>
                <ul>
                    <li><a href="#">Customer Overview</a></li>
                    <li><a href="#">Emails</a></li>
                    <li><a href="#">Phone Numbers</a></li>
                </ul>
            </nav>
        </aside>
        
        <div class="customer">
            <table class="cust-table">
                <tr class="thead">
                    <th colspan="6">CLIENTS</th>
                </tr>
                <tr class="sm-thead">
                    <th>ID</th>
                    <th>Client Name</th>
                    <th>Website</th>
                    <th>Pricing Tier</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
                {% for client in clients.items %}
                <tr>
                    <td>{{ client.client_id }}</td>
                    <td><a href="{{ url_for('customer.client', client_id=client.client_id) }}">{{ client.name }}</a></td>
                    <td>{{ client.website }}</td>
                    <td>{{ client.pricing_tier }}</td>
                    <td>{{ client.email or 'N/A' }}</td>
                    <td>{{ client.phone or 'N/A' }}</td>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% if clients.total > 25 %}
            <div class="pagination">
                {% for page_num in clients.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if clients.page == page_num %}
                            <a href="{{ url_for('customer.customers', page=page_num) }}" class="active">{{ page_num }}</a>
                        {% else %}
                            <a href="{{ url_for('customer.customers', page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        <span>...</span>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        </div>
        
            
{% endblock %}