{% extends "crm/crm-base.html" %}

{% block title %}PathSix Web Designs - Delete Client{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crm.css') }}">
{% endblock %}

{% block content %} 
    <h1>Delete Client</h1>
    <p>Are you sure you want to delete {{ client.name }}?</p>
    <form action="{{ url_for('delete_client', client_id=client.client_id) }}" method="post">
        <button type="submit">Yes, Delete</button>
        <a href="{{ url_for('customers') }}">Cancel</a>
    </form>
{% endblock %}