{% extends "crm/crm-base.html" %}

{% block title %}PathSix Web Designs CRM Request Password Request Page{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/crm.css') }}">
{% endblock %}

{% block content %}
    <div class="register-container">
        <form action="" method="POST" class="register-form">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Reset Password</legend>
                <div class="form-group">
                {{ form.email.label(class="form-label") }}

                {% if form.email.errors %}
                    {{ form.email(class="form-input error-input") }}  
                    {% for error in form.email.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                {% else %}
                    {{ form.email(class="form-input") }}
                {% endif %}
                </div>
                {{ form.submit(class="submit-btn") }} 
            </fieldset>
        </form>
    </div>
{% endblock %}
