:root {
  --dark-color: #050a30;
  --light-color: #16b8e7;
  --light-gray-color: lightgrey;
  --accent-color: #f51720;
  --text: #050a30;
  --secondary-text: #fa26a0;
  --link-text: white;
  --primary-background: rgba(5, 10, 48, 0.95);
  --light-background: #16b8e7;
  --light-gray-background: rgba(147, 156, 161, 0.9);
  --darker-gray-background: rgba(137, 144, 151, 0.9);
  --border-radius: 30px;
  --transition: all 0.3s linear;
}

/* Global Styles */

html,
body {
  margin: 0;
  padding: 0;
  background: #f8f9f3;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

* {
  box-sizing: border-box;
}

/* Header Styles */

header,
.image-container {
  position: relative;
}

header {
  background: url(../images/rocket.jpg);
  background-position: top 50% right; /* POSITION of background image */
  background-repeat: no-repeat;
  background-size: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-top {
  width: 100%;
  background-color: var(--primary-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.logo {
  width: 50%;
  margin-left: 10px;
}

.header-banner {
  width: 100%;
  padding-left: 10px;
  z-index: 3;
  font-family: Alkatra;
}

header h1,
header h2 {
  color: var(--text);
  z-index: 3;
  font-size: 2.9em;
  text-align: center;
  width: 45%;
  margin: auto 0;
}

header h1 {
  margin-top: 8%;
}

header p {
  color: var(--secondary-text);
  z-index: 3;
  font-size: 2em;
  text-align: center;
  width: 45%;
  margin: auto 0;
}

.rocket {
  display: none;
}

/* Navigation Styles */

nav {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 45px;
}

nav ul li a {
  color: var(--link-text);
  text-decoration: none;
  font-size: 1.5em;
  transition: var(--transition);
}

nav ul li a:hover {
  color: var(--light-color);
}

.navicon {
  display: none;
  font-size: 2em;
  cursor: pointer;
  color: white;
}

#nav-toggle {
  display: none;
}

/* Button Styles */

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 45%;
}

button {
  background-color: var(--light-color);
  border: 2px solid var(--secondary-text);
  font-size: 1.5em;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
  margin: 0 20px;
}

button a {
  color: var(--text);
  text-decoration: none;
  display: block; /* Make the link fill the button */
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.5em;
  font-weight: bold;
}

button:hover {
  background-color: gold;
}

/* Main Styles */

main img {
  width: 100%;
  height: 100%;
  border-top: 15px solid var(--light-background);
  border-bottom: 15px solid var(--light-background);
  margin-top: 40px;
}

section {
  display: flex;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
}

section h2,
section h1 {
  color: var(--text);
  font-size: 2.5em;
  font-family: alkatra;
  margin: 60px 0 0 0;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 80px;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
}

.serv {
  text-align: center;
  border: 1px solid var(--secondary-text);
  border-radius: var(--border-radius);
  padding: 20px;
  background: var(--light-gray-color);
  flex: 1 1 300px;
  margin: 10px;
}

.benefits {
  display: flex;
  justify-content: space-around;
  margin: 0 80px;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
  text-align: left;
  list-style-image: url(../images/check.svg);
}

/* Contact Styles*/

.form-container {
  margin-left: 40px;
}

/* Base styles for form elements, optimized for mobile */
form label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}

form input[type="text"],
form input[type="email"],
form textarea,
form input[type="submit"] {
  width: 40%;
  background-color: var(--light-gray-color);
  border-radius: 3px;
  border: 1px solid black;
  padding: 10px;
  font-size: 1.1em;
  box-sizing: border-box; /* Ensure padding does not add to the width */
}

/* Adjust the height for textarea specifically */
form textarea {
  height: 150px;
}

/* Style for the submit button */
form input#submit {
  display: block;
  margin-top: 10px; /* Add some space above the submit button */
  font-weight: bold;
  color: #000;
  background: var(--light-color);
  transition: all 0.3s ease-in-out;
}

/* Hover effect for submit button */
form input#submit:hover {
  cursor: pointer;
  border-color: #c1c1c1;
  background-color: #dbdbdb;
  background-image: linear-gradient(to bottom, #dbdbdb, #cccccc);
}

/* Flash message and form container - full width */
.flash,
.form-container {
  width: 100%;
}

/* Ensure inputs and textarea fill their containers */
input[type="text"],
input[type="email"],
textarea {
  box-sizing: border-box;
}

/* Footer Styles */

footer {
  display: flex;
  color: white;
  background-color: var(--primary-background);
  text-align: left;
  padding: 20px 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 30px;
  justify-content: space-around;
}

footer div {
  padding: 0 10px;
  width: 25%;
}

footer ul {
  list-style: none;
}

footer li {
  margin: 10px 0;
}

footer ul li a {
  color: white;
  text-decoration: none;
}

footer ul li a:hover {
  color: var(--light-color);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navicon {
    display: block;
    width: 10%;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  #nav-toggle:checked + .navicon + nav ul {
    display: flex;
  }

  #nav-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  header {
    background: none;
    height: auto;
    padding: 20px;
  }

  .rocket {
    display: block;
    width: 100%;
  }

  .header-top {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    width: 80%;
    margin: 0 auto;
  }

  header h1,
  header h2,
  header p {
    font-size: 1.5em;
    width: 100%;
  }

  section {
    width: 90%;
    margin: 0 auto;
  }

  main img {
    display: none;
  }

  .benefits {
    margin: 0;
  }

  .services {
    flex-direction: column;
    margin: 0 20px; /* Adjust margin for smaller screens */
  }

  .serv {
    margin: 10px 0; /* Adjust margin for smaller screens */
  }

  .buttons {
    width: 90%;
    margin: 20px auto; /* Center the buttons container */
  }

  footer {
    flex-direction: column;
    text-align: center;
    width: 100%;
    text-align: left;
  }

  footer div {
    width: 100%;
  }
}
