<!-- Client Information -->
<fieldset>
    <div class="form-group">
        <label for="account" class="form-label">Account Number</label>
        {{ form.account(class="form-input") }}
        {% if form.account.errors %}
            <ul>
                {% for error in form.account.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="name" class="form-label">Client Name</label>
        {{ form.name(class="form-input") }}
        {% if form.name.errors %}
            <ul>
                {% for error in form.name.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="website" class="form-label">Website</label>
        {{ form.website(class="form-input") }}
        {% if form.website.errors %}
            <ul>
                {% for error in form.website.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="pricing_tier" class="form-label">Pricing Tier</label>
        {{ form.pricing_tier(class="form-input") }}
        {% if form.pricing_tier.errors %}
            <ul>
                {% for error in form.pricing_tier.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="email" class="form-label">Email</label>
        {{ form.email(class="form-input") }}
        {% if form.email.errors %}
            <ul>
                {% for error in form.email.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <div class="form-group">
        <label for="phone" class="form-label">Phone</label>
        {{ form.phone(class="form-input") }}
        {% if form.phone.errors %}
            <ul>
                {% for error in form.phone.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
</fieldset>

<fieldset>
    <legend>Contact Person</legend>
    <div class="form-group">
        <label for="first_name" class="form-label">Contact First Name</label>
        {{ form.first_name(class="form-input") }}
        {% if form.first_name.errors %}
            <ul>
                {% for error in form.first_name.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <div class="form-group">
        <label for="last_name" class="form-label">Contact Last Name</label>
        {{ form.last_name(class="form-input") }}
        {% if form.last_name.errors %}
            <ul>
                {% for error in form.last_name.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    
    <div class="form-group">
        <label for="contact_email" class="form-label">Contact Email</label>
        {{ form.contact_email(class="form-input") }}
        {% if form.contact_email.errors %}
            <ul>
                {% for error in form.contact_email.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="contact_phone" class="form-label">Contact Phone</label>
        {{ form.contact_phone(class="form-input") }}
        {% if form.contact_phone.errors %}
            <ul>
                {% for error in form.contact_phone.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</fieldset>


<!-- Address Information -->
<fieldset>
    <legend>Address Information</legend>
    <div class="form-group">
        <label for="street" class="form-label">Street</label>
        {{ form.street(class="form-input") }}
        {% if form.street.errors %}
            <ul>
                {% for error in form.street.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="city" class="form-label">City</label>
        {{ form.city(class="form-input") }}
        {% if form.city.errors %}
            <ul>
                {% for error in form.city.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="state" class="form-label">State</label>
        {{ form.state(class="form-input") }}
        {% if form.state.errors %}
            <ul>
                {% for error in form.state.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="zip_code" class="form-label">Zip Code</label>
        {{ form.zip_code(class="form-input") }}
        {% if form.zip_code.errors %}
            <ul>
                {% for error in form.zip_code.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</fieldset>

<!-- Contact Note Information -->
<fieldset>
    <legend>Contact Note</legend>
    <div class="form-group">
        <label for="contact_note" class="form-label">Note</label>
        {{ form.contact_note(class="form-input") }}
        {% if form.contact_note.errors %}
            <ul>
                {% for error in form.contact_note.errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</fieldset>
