{% extends "base.html" %}

{% block title %}PathSix Web Designs{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block header %}
        <div class="header-banner">
            <h1>Boost Your Business Online</h1>
            <h2>With Affordable Web Solutions</h2>
            <p>Custom websites start at <s>$120</s> $60 a month!</p>
            <div class="buttons">
            <button><a href="{{ url_for('contact') }}">Request my FREE website preview</a></button>
            </div>
        </div>
{% endblock %}

{% block content %}
        <div class="info">
            <section>
                <h1>PathSix</h1>
                <div class="content">
                    <p>PathSix is a web development company that specializes in creating custom websites for small businesses. We believe a monthly subscription benefits small businesses.</p>
                    <div class="main-content">
                        <ul>
                            <h3>Why a Subscription?</h3>
                            <li>We will be here for you! We are not going to disappear.</li>
                            <li>Hosting and maintenance included.</li>
                            <li>No long term commitment, cancel when you want.</li>
                            <li>No large upfront cost!</li>
                        </ul>
                        <img src="{{ url_for('static', filename='images/PathSix_guy.png') }}" alt="The PathSix Web Guy">
                    </div>
                    <p>Our goal is to help small businesses succeed online by providing affordable web solutions. Choose the plan that suits your business best and we'll do the customization to give you the boost you need.</p>
                </div>
                <div class="pricing-button">
                    <button><a href="{{ url_for('pricing') }}">See our pricing</a></button>
                </div>
            </section>
        </div>
        <div class="blue">
            <section>
                <h2>Our Services</h2>
                <p>PathSix offers a variety of services to help your business succeed online.</p>
            </section>
            <div class="services">
                <div class="serv">
                    <h3>Custom Website Design</h3>
                    <p>We'll customize your site for your needs</p>
                    <p>Talk with a person from the beginning</p>
                    <p>See an preview before you pay a cent</p>
                    <p>If you don't love it, we'll remake it</p>
                </div>
                <div class="serv">
                    <h3>Website Hosting</h3>
                    <p>We do the work to put you on the web</p>
                    <p>Your site's domain name is included</p>
                    <p>Our hosting is fast and secure</p>
                    <p>Our hosting is included in the price</p>
                </div>
                <div class="serv">
                    <h3>Website Maintenance</h3>
                    <p>We'll keep your site up to date</p>
                    <p>We'll keep your site secure</p>
                    <p>We'll keep your site backed up</p>
                    <p>We'll keep your site running fast</p>
                </div>
                <div class="serv">
                    <h3>Search Engine Optimization</h3>
                    <p>We'll help you get found on Google</p>
                    <p>We'll set you up on Google My Business</p>
                    <p>We'll help you get reviews</p>
                </div>
            </div>
            <div class="bottom">
                <section>
                    <h2>Let's Get Started!</h2>
                    <p>Contact us today to learn more about our services and how we can help your business succeed online.</p>
                    <div>
                        <button><a href="{{ url_for('contact') }}">Request my FREE website preview</a></button>
                    </div>
                </section>
            </div>
            <br><br><br>
        </div>    
        <h3 class="gold-stars">★★★★★</h3>
        <div class="grad">
            <div class="testimonials">
                <a href="https://cssdallas.com"><img src="{{ url_for('static', filename='images/css_dallas.jpg') }}" alt="The Center for Social Success"></a>
                <div class="serv">
                    <blockquote>"Working with Will on our new company website was easy. He was very professional and answered all our questions. He was also much faster than we had expected and had our new website up and running quickly. We have many compliments and he is able to make updates within a day at the most. Great at responding to questions and changes and great service."
                    </blockquote>
                    <cite>
                        &mdash; <strong>Melissa, Center for Social Success, Dallas, TX</strong>
                    </cite>
                </div>
            </div>
            <div class="testimonials">
                <a href="https://permianalliance.com"><img src="{{ url_for('static', filename='images/permian_alliance.jpg' )}}" alt=""></a>
            </div>
            <img src="{{ url_for('static', filename='images/rocket.png')}}" alt="Rocket coming from a laptop artwork">
            <div class="portfolio"><button><a href="https://willboone.dev">Click here to see our web specialist Will's portfolio</a></button></div>
        </div>
{% endblock %}