<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PathSix Home Page</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
    <header>
        <div class="header-top">
            <div>
                <img src="static/images/PathSix_logo1.png" alt="PathSix Logo" class="logo">
            </div>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="services.html">Pricing</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-banner">
            <h1>Boost Your Business Online</h1>
            <h2>With Affordable Web Solutions</h2>
            <br><br>
            <p>Custom websites start at just $120 a month!</p>
            <div class="buttons">
            <button><a href="contact.html">Request my FREE website preview</a></button>
            </div>
        </div>
    </header>

    <main>
        <img src="static/images/code_pic1.png" alt="html logo tag">
        <section>
            <h1>PathSix</h1>
            <p>PathSix is a web development company that specializes in creating custom websites for small businesses. Choose from our packaged prices or talk to us about customizing a site that fits your needs!</p>
            <div>
            <button><a href="pricing.html">See our pricing</a></button>
            </div>
        </section>
        <img src="static/images/code_pic1.png" alt="html logo tag">
        <section>
            <h2>Our Services</h2>
            <p>PathSix offers a variety of services to help your business succeed online.</p>
        </section>
        <div class="services">
                <div class="serv">
                    <h3>Custom Website Design</h3>
                    <p>We'll customize your site for your needs</p>
                    <p>Talk with a person from the beginning</p>
                    <p>See an preview before you pay a cent</p>
                    <p>If you don't love it, we'll remake it</p>
                </div>
                <div class="serv">
                    <h3>Website Hosting</h3>
                    <p>We do the work to put you on the web</p>
                    <p>Your site's domain name is included</p>
                    <p>Our hosting is fast and secure</p>
                    <p>Our hosting is included in the price</p>
                </div>
                <div class="serv">
                    <h3>Website Maintenance</h3>
                    <p>We'll keep your site up to date</p>
                    <p>We'll keep your site secure</p>
                    <p>We'll keep your site backed up</p>
                    <p>We'll keep your site running fast</p>
                </div>
                <div class="serv">
                    <h3>Search Engine Optimization</h3>
                    <p>We'll help you get found on Google</p>
                    <p>We'll set you up on Google My Business</p>
                    <p>We'll help you get reviews</p>
                </div>
            </div>
        </div>
        <img src="static/images/code_pic1.png" alt="html logo tag">
        <section id="contact">
            <h2>Contact Us</h2>
            <p>Ready to get started? Contact us today to learn more about our services and how we can help your business succeed online.</p>
            <div>
                <button><a href="contact.html">Request my FREE website preview</a></button>
            </div>
        </section>
        <hr>
        <footer>
            <div>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="services.html">Pricing</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </footer>
    </main>
    
</body>
</html>