{% extends "base.html" %}

{% block title %}PathSix Price Tiers{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/price.css') }}">
{% endblock %}

{% block header %}
    <div class="price-banner">
        <h1>Affordable value for businesses of any size.</h1>
        <p>Let's discuss the plan that best fits your needs.</p>
        <br>
        <div>
            <button><a href="{{ url_for('contact') }}">Request my FREE website preview</a></button>
        </div>
        <br>
    </div>
{% endblock %}

{% block content %}
<div class="price-toggle-container">
    <span class="toggle-label">Monthly Prices</span>
    <label class="switch">
        <input type="checkbox" id="price-toggle">
        <span class="slider round"></span>
    </label>
    <span class="toggle-label">Yearly Prices</span>
</div>

<div class="pricing-container">
    <div class="plan">
        <div class="price-tab">
            <h2>One-of-a-Kind Business Plan</h2>
            <div class="price-option monthly" style="display:block;"><h3>$120/Month</h3></div>
            <div class="price-option yearly" style="display:none;"><h3>$1200/Year</h3></div>
        </div>
        <p><strong>Features:</strong> Up to 2 pages customized for your business needs</p>
        <p><strong>Design:</strong> One-of-a-kind template design</p>
        <p><strong>Domain:</strong> Your .com domain included</p>
        <p><strong>Hosting:</strong> Included</p>
        <p><strong>SEO:</strong> Local SEO, and Google My Business setup</p>
        <p><strong>Maintenance:</strong> 2 free updates per month</p>
        <p><strong>Support:</strong> Email and phone support</p>
    </div>
    <div class="plan">
        <div class="price-tab">
            <h2>Advanced Business Plan</h2>
            <div class="price-option monthly" style="display:block;"><h3>$200/Month</h3></div>
            <div class="price-option yearly" style="display:none;"><h3>$2000/Year</h3></div>
        </div>
        <p><strong>Features:</strong> Up to 5 pages customized for your business needs</p>
        <p><strong>Design:</strong> Enhanced template options</p>
        <p><strong>Domain:</strong> Your .com domain included</p>
        <p><strong>Hosting:</strong> Included</p>
        <p><strong>SEO:</strong> Enhanced SEO, keyword integration</p>
        <p><strong>Maintenance:</strong> Ongoing updates, security, and revisions</p>
        <p><strong>Support:</strong> Enhanced email and phone support</p>
    </div>
    <div class="plan">
        <div class="price-tab">
            <h2>Premium Business Plan</h2>
            <div class="price-option monthly" style="display:block;"><h3>$400/Month</h3></div>
            <div class="price-option yearly" style="display:none;"><h3>$4000/Year</h3></div>
        </div>
        <p><strong>Features:</strong> Up to 10 pages customized to your business needs</p>
        <p><strong>Design:</strong> Fully customized website</p>
        <p><strong>Domain:</strong> One custom domain included</p>
        <p><strong>Hosting:</strong> Included</p>
        <p><strong>SEO:</strong> Comprehensive SEO management and analytics</p>
        <p><strong>Maintenance:</strong> Comprehensive maintenance and regular updates</p>
        <p><strong>Support:</strong> Priority email and phone support</p>
        <p><strong>Marketing:</strong> Online marketing strategies and email marketing setup</p>
        <p><strong>E-Commerce:</strong> E-commerce features for up to 20 products</p>
        <p><strong>Training:</strong> Initial training session, and ongoing support available</p>
    </div>
    </div>
    <section>
        <ul>
            <h3>Talk to our specialist about the cost of adding any of the following:</h3>
            <li>Blogs</li>
            <li>Additional pages</li>
            <li>Custom email with your domain</li>
            <li>Additional domains</li>
            <li>Additional e-commerce products</li>
        </ul>
    </section>
    <br>
    <div class="buttons">
        <button><a href="{{ url_for('contact') }}">Request my FREE website preview</a></button>
    </div>
    <br>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/pricing-switch.js') }}"></script>
{% endblock %}